{
    "meta": "connection_secrets"
    , "meta_version": "0.1"
    , "storage_account_name": "MY_STORAGE_ACCOUNT"
    , "storage_account_key": "the_key_1_or_2"
    , "container": "my-container"
    , "azure_http_proxy": "None"
    , "azure_https_proxy": "None"
}
